<div class="grid">

  <mat-toolbar>
    <mat-icon></mat-icon>
    <span>gfbagel's discord exporter for objection.lol</span>
  </mat-toolbar>

  <div class="grid" style="padding: 50px">
    <mat-form-field appearance="outline">
      <mat-label>discord log text</mat-label>
      <textarea matInput
                #chatLogText
                [matTextareaAutosize]="true"
                [matAutosizeMinRows]="10"
                [matAutosizeMaxRows]="20"
                [formControl]="chatLogCtrl"
      ></textarea>
    </mat-form-field>

    <mat-divider></mat-divider>
    <br/>

    <mat-card class="grid">
      <div *ngFor="let user of usernamesList; let i = index" >
        <mat-form-field appearance="outline">
          <mat-label>Character for {{user}}</mat-label>
          <input type="text"
                 [placeholder]="'Character for ' + user"
                 matInput
                 [formControl]="_getUserCharacterControls()[i]"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-optgroup *ngFor="let group of characterIdList" [label]="group.groupName">
              <mat-option *ngFor="let character of group.characters" [value]="character.poseId">
                {{character.name}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-divider></mat-divider>
    <br/>

    <mat-card>
      <mat-card-header>
        <mat-card-title>JSON preview</mat-card-title>
        <mat-card-subtitle>Format before encoding</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="grey scrollable-400">
          <pre #output>
            {{ generatedFrames | json}}
          </pre>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <br/>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Exported base64</mat-card-title>
        <mat-card-subtitle>This can be saved into a .objection file for loading</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="grey scrollable-400">
          <code #hashText>
            {{ toBase64(output.innerText.toString()) }}
          </code>
        </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <button [cdkCopyToClipboard]="hashText.innerText.toString()" mat-icon-button>
          <mat-icon>copy_all</mat-icon>
        </button>

        <button mat-button (click)="downloadFile(hashText.innerText)">DOWNLOAD AS FILE <mat-icon>file_download</mat-icon></button>
        
      </mat-card-actions>
    </mat-card>
  </div>
</div>
